
/* FONTS */


@font-face {
    font-family: 'incReg';
    src: url(./fonts/Inconsolata-Regular.ttf);
}

@font-face {
    font-family: 'orator';
    src: url(./fonts/Orator-Std-Font.otf);
}

@font-face {
    font-family: 'banq';
    src: url(./fonts/Banquise-Regular.otf);
}


/* MAIN */

body {
    background-color: #f7f6f6a4;
    font-family: "incReg";
    font-size: 12pt;
    color:#000051;

}

h1 {
    font-family: "banq";
    color: #ffcc00;
    font-size: 2em;
    margin-top: 16px;
    margin-left: 20px;
    margin-right: auto;

}


/* MENU */

.menuBarContainer {
    width:100%;
    grid-template-columns: 18% 80%;
    display: grid;
    gap: 2%;
    background-color: aqua;
}

.menuCol1 {
    grid-column: 1;
    grid-row: 1;
}
.menuCol2 {
    grid-column: 2;
    grid-row: 1;
}


#menuList {
    overflow: hidden;
    list-style-type: none;
    margin-top: 10px;
    margin-right: 20px;
}


li a {
    font-family: "orator";
    float: right;
    display: block;
    padding-left: 14px;
    padding-right: 14px;
    text-decoration: none;
    color: #000051;
}

li a:active {
    color: #3e48fd;
}

li a:hover {
    color: #ffcc00;
}